{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <p>
            This is a KPI!
            Title: {{ kpi.forday }}<br>
            Views: {{ kpi.totalReach }}<br>
            Likes: {{ kpi.videoReach }}<br>
        </p>

    </div>

{% endblock %}