{% extends 'base.html.twig' %}

{% block body %}


    <div class="ui three column centered grid">
        <div class="column">
            {% image 'OomphLogo.jpg' %}
            <img src="{{ asset_url }}" alt="Example" class="ui large image" />
            {% endimage %}
        </div>
        <div class="three column centered row" style="z-index: 200;">
            <div class="ui column">
                <button id="dash" data-route="{{ path('postIndex') }}" class="ui green button">
                    Dashboard
                </button>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function(){
            var button = $('#dash');
            button.click(moveToDash
            );

            function moveToDash(e){
                var button = $(e.currentTarget);
                var route = button.attr('data-route');
                window.location.href = route;
            }
        });
    </script>

{% endblock %}