{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <p>
            This is a video!
            Title: {{ post.title }}<br>
            Views: {{ post.views }}<br>
            Likes: {{ post.likes }}<br>
        </p>

    </div>

{% endblock %}